


body {
    background-image: url('../images/background.png');
    margin: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    color: white;

    font-family: 'sigmar one';
}

#sound-on:hover, #sound-off:hover {
    cursor: pointer;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.isabelle {
    margin-top: -28px;
}


.links {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 40px;
}

#pokemon-game {
    background-image: url("../images/sky.gif");
}

