


body {
    /* background-image: url('../images/background.jpg'); */
    background-image: url('../images/background.png');
    margin: 0px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: white;

    font-family: 'sigmar one';

/* 
     font-size: 10px;
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-family: 'pokemon-font', monospace; */


}

h1 {
    font-size: 40px;
}

